[defaults]
# INVENTORY (adapte le chemin si besoin)
inventory = inventories/lab/hosts.ini
executable = /bin/bash

# Sortie lisible + callbacks utiles
stdout_callback = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks, timer

# Performance & fiabilité
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400
timeout = 60
retry_files_enabled = False

# Sécurité / UX
host_key_checking = False
deprecation_warnings = False
command_warnings = False
inventory_ignore_extensions = .retry,.md,.txt,.log,.old

# Rôles & collections
roles_path = roles
collections_paths = ~/.ansible/collections:collections

# Stratégie (utile pour tâches indépendantes)
strategy = free

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10
control_path = %(directory)s/%%h-%%p-%%r
